html{
  background-color: rgb(33, 31, 29);
  color:white;
}
.icon{
  display: inline-flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
  background-color: rgb(51 51 51);
  border: 1px solid #474747;  
  color: white;
  border-radius: 20px;
  margin-right: 4px;
  padding: 3px;
}
.icon svg{
  fill: white;
}


svg{
  width: 128px;
  height: 128px;
}
.animated{
  animation-play-state: paused !important
}
.running{
  animation: running_animation 2s linear infinite;
  transform-origin: center;
}
@keyframes running_animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.done .check.animated {
  animation: done_animation 2s forwards ease;
}
@keyframes done_animation {
  from { 
    transform: scale(3) rotate(0deg)
  }
  to { 
    transform: scale(1) rotate(360deg)
  }
}

.error .check.animated {
  transform-origin: 8px 8px; /* center of the X */  
  animation: error_animation 2s forwards ease;
}
@keyframes error_animation {
  from { 
    transform:  rotate(0deg)
  }
  to { 
    transform: scale(1) rotate(180deg)
  }
}
.ready_background{
  background-color: gray;
}