html,body {
    font-family: var(--vscode-font-family);
    color: var(--vscode-foreground);
    background-color: var(--vscode-panel-background);

    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
       overflow: hidden;
    width: 100%;
    background-color: black;
}


#parent {
    flex: 1;              /* fills remaining vertical space */
    width: 100%;          /* full width */
     height: 100%;
   overflow: hidden;
}
h1 {
    color: var(--vscode-textLink-foreground);
    margin-top: 0;
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width:300px;
}
.terms_container{
  flex:1;
}
.controlpanel{
  padding: 30px;
}
button {
    background-color: red;
    color: var(--vscode-button-foreground);
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 2px;
}
button:hover {
    background-color: var(--vscode-button-hoverBackground);
}
.message {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--vscode-input-background);
    border-radius: 4px;
    border-color: red; 
}
#terminal{
  width: 200px;
  height: 200px;
  overflow: scroll;
}
.term_panel{
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex: 1;
  height: 100%;
     
}
.stats_container{
  overflow: scroll;
  width:300px;

 }
.stats{
  border-collapse: collapse;
  align-self: flex-start;
}
.term{
  flex:1;
  background-color: rgb(29, 55, 64);
}
.stats td{
  border: 2px solid inherit;
  padding: 3px;
}
.stats td .value{
  color:#aa86c9;
}

.stats tr:hover {

}

.tree_folder{

}
.tree_item{

}
.label_row{
    padding: 4px;
    white-space: nowrap;
    display: flex;
}
.label_row:hover{
  background-color: var(--vscode-list-hoverBackground);
  cursor: pointer;

}
.label{
  margin-left:4px;
  

}
.shifter{
  display: flex;
  align-items: center;
  position: relative; 

}
.children{
}
.description{
  padding-left: 10px;
  color:var(--vscode-descriptionForeground);
}
.icon{
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.tree_folder.collapsed > .children {
  display: none;
}
.selected > .label_row{
  background-color: var(--vscode-list-activeSelectionBackground);
  color: var(--vscode-list-activeSelectionForeground);
}
.tree_folder.collapsed>.label_row>.shifter>::before {
  content: url('icons/chevron-right.svg');
  position: absolute;
  left: -20px;
  font-size: 12px;
  pointer-events: none;
  filter: invert(1);
}
.tree_folder:not(.collapsed)>.label_row>.shifter::before {
  content: url('icons/chevron-down.svg');
  position: absolute;
  left: -20px;
  font-size: 12px;
  pointer-events: none;
  filter: invert(1);

}
#the_tree{
  overflow: scroll;
  resize: horizontal;
}
.commands_icons{
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
.command_icon:hover{
  background-color:green ;
}
.command_icon > img {
  filter: invert(1);
}
svg{
  width: 20px;
  height: 20px;
  will-change: transform;
}
.commands_icons  svg{
  width: 16px;
  height: 16px;
}
