html,body {
    font-family: var(--vscode-font-family);
    color: var(--vscode-foreground);
    background-color: var(--vscode-editor-background);

    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}


#parent {
    flex: 1;              /* fills remaining vertical space */
    width: 100%;          /* full width */
     height: 100%;

}
h1 {
    color: var(--vscode-textLink-foreground);
    margin-top: 0;
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   
}
.controlpanel{
  padding: 30px;
}
button {
    background-color: red;
    color: var(--vscode-button-foreground);
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 2px;
}
button:hover {
    background-color: var(--vscode-button-hoverBackground);
}
.message {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--vscode-input-background);
    border-radius: 4px;
    border-color: red; 
}
#terminal{
  width: 200px;
  height: 200px;
  overflow: scroll;
}
.term_panel{
  display: flex;
}
.stats{
  width:300px;
  border-collapse: collapse;
}
.stats td{
  border: 2px solid inherit;
  padding: 3px;
}
.stats td .value{
  color:#aa86c9;
}

.stats tr:hover {
  background-color: rgb(74, 72, 78);
}
.term>div.strerr{
  border-left: 3px solid red;
}
.term>div{
  margin: 0px;
  border: 0px;
  border-left:3px solid white;
}
term{
  font-family: monospace;
  width: 100%;
  height: 600px;
  overflow: scroll;
}

