html,body {
    font-family: var(--vscode-font-family);
    color: var(--vscode-foreground);
    background-color: var(--vscode-panel-background);

    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
       overflow: hidden;
}


#parent {
    flex: 1;              /* fills remaining vertical space */
    width: 100%;          /* full width */
     height: 100%;
   overflow: hidden;
}
h1 {
    color: var(--vscode-textLink-foreground);
    margin-top: 0;
}
.container {
    margin: 0 auto;
    display: flex;
    flex-direction: row
   
}
.controlpanel{
  padding: 30px;
}
button {
    background-color: red;
    color: var(--vscode-button-foreground);
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 2px;
}
button:hover {
    background-color: var(--vscode-button-hoverBackground);
}
.message {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--vscode-input-background);
    border-radius: 4px;
    border-color: red; 
}
#terminal{
  width: 200px;
  height: 200px;
  overflow: scroll;
}
.term_panel{
  display: flex;
  flex-direction: row;
     overflow: hidden;
     
}
.stats{
  width:300px;
  border-collapse: collapse;
  align-self: flex-start;
}
.stats td{
  border: 2px solid inherit;
  padding: 3px;
}
.stats td .value{
  color:#aa86c9;
}

.stats tr:hover {

}

.tree_folder{

}
.tree_item{

}
.label_row{
    padding: 4px;
}
.label_row:hover{
  background-color: var(--vscode-list-hoverBackground);
  cursor: pointer;

}
.label{
  

}
.shifter{
  display: flex;
  align-items: center;

}
.children{
}
.description{
  padding-left: 10px;
  color:var(--vscode-descriptionForeground);
}
.icon{
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}